@import "normalize.css";
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic');
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300');
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');
@import url('http://fonts.googleapis.com/css?family=Balthazar');
@import "angular-carousel.css";
/* app css stylesheet */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.icomoon {
  font-family: 'icomoon';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
/* animation */
.animate50 {
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}
.animate100 {
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.animate100ei {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.animate100eo {
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}
.animate200 {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.animate200ei {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.animate200eo {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.animate400ei {
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}
.animate400eo {
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
.animate400eio {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.nomargins {
  margin: 0;
  padding: 0;
}
/*rgba 239*/
/*rgb 73, 168, 206*/
/*rgb 100, 181, 213*/
/*rgb 67, 148, 180*/
/*rgb 225, 236, 239*/
/*rgb 144, 191, 113*/
/*rgba 219, 75, 75*/
/*rgb 224, 102, 102*/
/*rgb 191, 69, 69*/
/*rgb 252, 208, 96*/
/*rgb 237, 203, 169*/
/*rgba 68*/
/*rgb 136*/
/*rgb 250*/
/*rgb 245, 247, 247*/
/* prime palette */
/*rgba 219,75,75*/
/*rgb 144,191,113*/
/*rgb 73,168,206*/
/*rgb 252,208,96*/
/* grays */
/*17*/
/*34*/
/* unused palette */
/*rgba 239*/
/*rgb 100,181,213*/
/*rgb 67,148,180*/
/*rgb 225,236,239*/
/*rgb 224,102,102*/
/*rgb 191,69,69*/
/*rgb 237,203,169*/
/*rgba 68*/
/*rgb 136*/
/*rgb 250*/
/*rgb 245, 247, 247*/
.quarter,
.third,
.two-third,
.half {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  *zoom: 1;
}
.quarter:before,
.third:before,
.two-third:before,
.half:before,
.quarter:after,
.third:after,
.two-third:after,
.half:after {
  display: table;
  content: "";
  line-height: 0;
}
.quarter:after,
.third:after,
.two-third:after,
.half:after {
  clear: both;
}
.third {
  width: 33%;
}
.two-third {
  width: 66%;
}
.whole {
  width: 100%;
}
.half {
  width: 50%;
}
.wide-960,
.wide-1024,
.wide-1280 {
  clear: both;
  margin: 0 auto;
}
.wide-960 {
  max-width: 960px;
}
.wide-1024 {
  max-width: 1024px;
}
.wide-1280 {
  max-width: 1280px;
}
#main-nav {
  display: block;
  margin: 0 auto;
  min-width: 960px;
  white-space: nowrap;
  text-align: center;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.main-nav-top.nav-1 {
  display: inline-block;
  padding: 20px 0;
  background-color: #1b2c58;
  /*&:hover {
    background-color: @red;
  }*/
}
.main-nav-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8125em;
  font-weight: 600;
  padding: 5px 20px;
  border-right: 2px solid #ffffff;
}
html {
  font-size: 100%;
}
body {
  background-color: #f2f2f2;
  font-size: 1em;
}
.site-title,
.site-sub-title {
  font-family: Balthazar, serif;
  text-transform: uppercase;
}
#content-body {
  background-color: #ffffff;
  padding: 10px;
}
.text-block {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  padding: 10px;
}
.carousel-block-slider {
  height: 400px;
}
.slide-wrapper {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.slide-caption-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0.8em;
}
.layout-1 > .block-row-1 {
  margin-bottom: 10px;
}
.layout-1 > .block-row-1 > .two-third {
  margin-left: 5px;
}
.layout-1 > .block-row-2 {
  background-color: #c6c6c6;
}
