<header class="classic">
    <div class="main-logo"></div>
    <h1>{{schoolData.header.title}}</h1>

    <h3>{{schoolData.header.motto}}</h3>
</header>

<nav class="classic">

</nav>

<section id="content-body" class="classic">
    <div class="layout-1">
        <section>
            <div class="one-third">{{schoolData.text1.body}}</div>
            <div class="two-third feature">
                <ul rn-carousel>
                    <li ng-repeat="slide in schoolData.gallery1.images">{{slide.path}}{{slide.caption}}</li>
                </ul>
            </div>
        </section>
        <section>
            <div class="one-third">
                <ul>
                    <li ng-repeat="post in schoolData.feed1">
                        <header ng-bind-html="post.title"></header>
                        <div ng-bind-html="post.body"></div>
                    </li>
                </ul>
            </div>
            <div class="one-third">
                <ul>
                    <li ng-repeat="post in schoolData.feed2">
                        <header ng-bind-html="post.title"></header>
                        <div ng-bind-html="post.body"></div>
                    </li>
                </ul>
            </div>
            <div class="one-third">
                <ul>
                    <li ng-repeat="event in schoolData.calendar1.events">{{event.title}}{{event.body}}</li>
                </ul>
            </div>
        </section>
    </div>
</section>

<footer class="classic">
    <p>{{schoolData.footer.address}}</p>
    <a href="" ng-repeat="link in schoolData.footer.quickLinks">{{link}}</a>
</footer>
