<header></header>
<div class="jumbotron">
    <h1>Slate Site Design</h1>
    <p class="lead">
        This prototype will demonstrate Slate public site design and interactivity.
    </p>
</div>

<div class="row marketing">
    <h4>Why a prototype?</h4>
    <p>
        An live prototype will demonstrate more clearly how sites should work and how content can adapt to different layouts. We can show responsiveness as well as show interactivity.
    </p>

    <h4>What is this built with?</h4>
    <p>
        Are you really asking? <3
    </p>

    <h4>Karma</h4>
    <p>This is a prototype, so no. No Karma.</p>

    <h2>And now... Onward ho! To the sites!</h2>
    <ul>
        <li ng-repeat="siteType in siteTemplates"><a href="/{{siteType}}">{{siteType}}</a></li>
    </ul>

</div>

